.btn-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--text-muted);
    transition: all 0.2s ease-in-out;
    padding: 10px;
}

.btn-body p {
    font-size: 10px;
    margin-top: 4px;
    margin-bottom: 0;
    font-weight: 600;
}

.btn-body svg {
    font-size: 24px;
}

.btn-body:hover, .btn-body.active {
    color: white;
}

.btn-body.active svg {
    filter: drop-shadow(0px 0px 10px rgba(0, 242, 254, 1));
    color: var(--accent-color);
}